<div>
    <div style="width: 100%; padding: 15PX; float: right; display: table;">
      <h1 style="display: table-cell; vertical-align: middle">Details of {{ property('entity').getId() }}</h1>
      {{ component('resourceActionList') }}
    </div>
    {{ component('table') }}
</div>