<div>
    <div>
        Shown {{ property('shownCount') }} of {{ property('totalCount') }}
    </div>
    <div>
        {% for i in range(1, (property('totalCount') / property('pageSize'))|round(0, 'ceil')) %}
            <ion-button onclick="location.href = location.protocol + '//' + location.host + location.pathname + {{ property('querySearch').withPageIndex(i - 1).toHttpQuery() | json_encode }};" size="small">{{ i }}</ion-button>
        {% endfor %}
    </div>
</div>
